# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [59]:
def vol(rad):
    return 4/3*3.14*rad**3

In [60]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [47]:
def ran_check(num,low,high):
    if high >= num >= low:
        print(f'{num} is in the range between {low} and {high}')

In [48]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

If you only wanted to return a boolean:

In [1]:
def ran_bool(num,low,high):
    return high >= num >= low

In [2]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [40]:
def up_low(s):
    result = "Original String :  "+str(s)+'\n'+"No. of Upper case characters : {}\nNo. of Lower case Characters :{}"
    s_upper = list(filter(lambda l: l.isupper(), s))
    s_lower = list(filter(lambda l: l.islower(), s))
    print(result.format(len(s_upper),len(s_lower)))
    
#     s_upper = sum(1 if i.isupper() else 0 for i in s)
#     s_lower = sum(1 if i.islower() else 0 for i in s)

In [41]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case Characters :33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [34]:
def unique_list(lst):
    return list(set(lst))

In [35]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [2]:
from functools import reduce

def multiply(numbers):  
    return reduce(lambda a,b:a*b ,numbers)

In [3]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [65]:
def palindrome(s):
    return ''.join(s.split()) == ''.join(s.split())[::-1]

In [66]:
palindrome('nurses run')

True

In [67]:
palindrome('helleh')

True

## use built  in functions to : ==>(map,filter,reduce,lambda expression)
#### 1- get the summation of the squared values of this list 
#### 2- get the values from the list which is bigger than 7 and lower than 20
#### 3- updating the values of the list according to this rule new_value= old_value+ 0.14*old_value

In [5]:
l=[1,3,15,22,7,8,19,14,12,16,33,9,100,0]

In [7]:
from functools import reduce

reduce(lambda a,b:a+b**2, l)

12959

In [81]:
list(filter(lambda i: 20>i>7, l))

[15, 8, 19, 14, 12, 16, 9]

In [83]:
list(map(lambda i:i+0.14*i, l))

[1.1400000000000001,
 3.42,
 17.1,
 25.08,
 7.98,
 9.120000000000001,
 21.66,
 15.96,
 13.68,
 18.240000000000002,
 37.62,
 10.26,
 114.0,
 0.0]

#### Great Job!